/* Version 0.2
 * Author: Ribhu Lahiri;
 * pwRL01
 */
.square{
	font-family: 'Oswald', sans-serif;
	font-size: 78px;
	color: white;
}

.glyphicon-arrow-right{
	font-size: 30px;
	color: #d9d9d9

}

#square-1{
	height: 70%;
	width: 70%;
	text-align: right;
	vertical-align: bottom;
	line-height: 700px;
	padding-right: 10px;
	background-color: #E82B00; 
	float: left; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#square-2{
	position: relative;
	height: 70%;
	width: 30%;
	margin-left: 70%;
	text-align: left;
	vertical-align: bottom;
	line-height: 700px;
	padding-left: 10px;
	background-color: #27B4E3;  
}

#square-3{
	height: 30%;
	width: 70%;
	text-align: right;
	vertical-align: bottom;
	line-height: 200px;
	padding-right: 10px;
	background-color: green; 
	float: left; 
}

#square-4{
	position: relative;
	height: 30%;
	width: 30%;
	margin-left: 70%;
	text-align: left;
	vertical-align: bottom;
	line-height: 200px;
	padding-left: 10px;
	background-color: #F5D20C;  
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
